<div class="mt-3">
  <div class="float-left">
    <h1><%= @player.number %> - <%= @player.name %></h1>
  </div>
  <div class="float-right">
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_team_player_path(@team), class:"btn btn-success" %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>

<div class="row team-player-profile">
  <div class="col-sm-3 left-panel">
    <div>
      <% if @profile_photo.present? %>
        <%= image_tag @profile_photo.image_url %>
      <% else %>
        <%= image_tag 'team_manager/blank_girl.png' %>
      <% end %>
    </div>
    <table class="table">
      <tr>
        <th>Number</th>
        <td><%= @player.number %></td>
      </tr>
      <tr>
        <th>Height</th>
        <td><%= @player.height %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= @player.position %></td>
      </tr>
      <tr>
        <th>School</th>
        <td><%= @player.school %></td>
      </tr>
      <tr>
        <th>Year</th>
        <td><%= @player.year %></td>
      </tr>
      <tr>
        <th>GPA</th>
        <td><%= @player.gpa %></td>
      </tr>
    </table>
    <% if user_signed_in? %>
      <%= link_to 'Media', team_player_media_path(@team, @player), class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="col-sm-9 right-panel">
    <h4>Videos</h4>
    <hr>
    <div class="row">
      <% @player.player_videos.each do |video| %>
        <%= render partial: 'team_manager/players/video_display.html.erb', locals: {video: video} %>
      <% end %>
    </div>
    <div class="card mt-3">
      <div class="card-header">
        <h4>Athletic Accomplishments</h4>
      </div>
      <div class="card-body trix-content">
        <%= @player.athletic_accomplishments.html_safe %>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-header">
        <h4>Colleges Interested</h4>
      </div>
      <div class="card-body">
        <%= @player.colleges_interested.html_safe %>
      </div>
    </div>
  </div>
</div>

