<!DOCTYPE html>
<html>
<head>
  <title>Team manager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "team_manager/application", media: "all" %>
  <%= javascript_include_tag "team_manager/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
