<div class="mt-3">
  <div class="float-left">
    <h1><%= @team.name %> Roster</h1>
  </div>
  <div class="float-right">
    <% if user_signed_in? %>
      <%= link_to 'New Player', new_team_player_path(@team), class:"btn btn-success" %>
    <% end %>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Position</th>
    <th>School</th>
    <th></th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.number %></td>
      <td><%= link_to player.name, team_player_path(@team, player) %></td>
      <td><%= player.position %></td>
      <td><%= player.school %></td>
      <td class="text-right">
        <% if user_signed_in? %>
          <%= link_to 'Manage', team_player_path(@team, player), class: 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
