<h1>New Video for <%= @player.name %></h1>

<%= simple_form_for [@team, @player, @player_video] do |f| %>
  <%= f.input :video_url %>
  <%= f.input :description %>
  <%= f.button :submit, 'Add Video', class: 'btn btn-success' %>
  <%= link_to 'Cancel', :back, class: 'btn btn-danger' %>
<% end %>
